* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px){
  .popup{
    width: 70% !important	;
  }

  body {
    flex-direction: column !important;
    align-items: center !important;
    min-width: 100vw !important;
  }

  body,
  #sidebar {
    font-size: 13px !important;
  }

  #sidebar {
    width: 100% !important;
	    padding: 1em !important;
		margin-top: 3vh !important;
  }

  #view {
    position: relative !important;
    min-height: 0 !important;
	    height: 60vh !important;
    padding-top: calc(30vh - 150px) !important;
  }

  .header {
    justify-content: center !important;
  }

  .title {
	font-size: 6vw !important;
  }

  #labelFooter {
    display: none !important;
  }
  
  .button_1{
	  display:none !important;
  }
  
  .level {
	  margin-top:2vh !important;
	  align: center;
  }
  
  td {
	  width:50% !important;text-align: right !important; vertical-align: middle !important; 
  }
  
  .select {
    width: 30vw !important;
  }
  
  #levelname{
	  font-size: 5vw !important;
  }
  
   #button_layout{
	  display:block !important;
  }
  
  .button-one, .button-two, .button-three {
    font-size: 18px  !important;
	padding: 1.5vw 2vw !important; 
	margin-left: 2vw !important;
	box-shadow: 0 5px #95a5a6 !important;
}

.popup h2 {
	font-size: 6vw !important;
}
  
}

 #button_layout{
	  display:none;
  }


html, body {
  min-height: 100%;
}

html[lang="fa"] #docs,
html[lang="fa"] #instructions,
html[lang="fa"] #credits .translate,
a[href="#fa"],
html[lang="ar"] #docs,
html[lang="ar"] #instructions,
html[lang="ar"] #credits .translate,
a[href="#ar"] {
  direction: rtl;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
  display: flex;
  min-width: 600px;
  margin: 0;
  background-color: #eff3ed;
  color: rgba(249, 74, 98, 0.9);
  font-family: 'PT Sans', sans-serif;
  margin-top : 10px;
}

#sidebar {
  width: 40%;
  min-width: 300px;
  position: relative;
  padding: 2em;
  font-size: 15px;
  margin-left: auto;
    margin-right: auto;
  max-height: calc(100vh - 16px);
}

#view {
  min-height:calc(100vh - 16px);
  padding: 1em;
  margin-left: auto;
    margin-right: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  justify-content: space-between;
}

.title {
  margin: 0.5rem 0 0;
  text-transform: uppercase;
  font-family: 'Autour One', cursive;
  font-size: 4vw;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

code {
  padding: 0 2px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);
}

li {
  line-height: 1.5;
}

a {
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  color: #fff;
}

.help {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.tooltip {
  position: absolute;
  display: inline-block;
  max-width: 300px;
  padding: 0 1em 1em;
  background-color: #2c3e50;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 60;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 12px;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2c3e50;
}

.tooltip code {
  margin-right: 0.5em;
}

#share {
  display: none;
  margin-bottom: 3em;
  text-align: center;
}

.fb-like {
  z-index: 20;
  vertical-align: top;
}

.next {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 1em;
  text-decoration: none;
  background-size: cover;
}

.next div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.next button {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Autour One', cursive;
  font-weight: bold;
  text-transform: uppercase;
}

.next button:hover {
  color: rgba(255, 255, 255, 1);
}

.next.flexboxfroggy {
  background-image: url('../images/next-flexboxfroggy.png');
}

.next.flexboxfroggy button {
  background-color: #288A2B;
}

.next.flexboxfroggy button:hover {
  background-color: #3FA142;
}

.next.treehouse {
  background-image: url('../images/next-treehouse.png');
}

.next.treehouse button {
  background-color: #AE7347;
}

.next.treehouse button:hover {
  background-color: #C88551;
}

#editor {
  position: relative;
  margin-top: 2em;
}

#editor,
pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  line-height: 1.5;
  color: #777;
}

#css {
  height: 375px;
  position: relative;
  padding: 10px 10px 10px 40px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.line-numbers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 6px;
  text-align: right;
  background-color: #999;
  color: #D5D5D5;
}

#code {
  display: block;
  width: calc(100% - 16px);
  height: 24px;
  margin-left: 16px;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
}

#level-counter {
  position: relative;
  display: inline-block;
  height: 30px;
  margin-top: 0.5rem;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#levelsWrapper {
  display: none;
  top: 30px;
  right: 31px;
  max-width: 160px;
  padding: 1em 0.5em;
  margin-top: 12px;
  z-index: 80;
}

#levelsWrapper:after {
  left: calc(50% - 12px);
}

#levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.level-marker {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.level-marker.current,
.level-marker:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.level-marker.solved {
  background-color: #228B24;
  background-color: #5DA449;
}

#level-indicator,
.arrow {
  float: left;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

#level-indicator {
  display: inline-block;
  width: 160px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

#labelLevel {
  margin-left: 5px;
}

.caret {
  display: inline-block;
  margin-left: 2px;
}

#level-indicator:hover,
.arrow:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#labelReset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
}

.arrow {
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.5em 0.2em;
  cursor: pointer;
}

.arrow.left {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px 0 0 4px;
}

.arrow.right {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 4px 4px 0;
}

.arrow.left:not(.disabled):hover,
.arrow.right:not(.disabled):hover {
  border-color: transparent;
}

.arrow.disabled {
  opacity: 0.5;
}

.triangle {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
}

.left .triangle {
  border-right: 11px solid rgba(255, 255, 255, 0.7);; 
}

.right .triangle {
  border-left: 11px solid rgba(255, 255, 255, 0.7);; 
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: #D11606;
  background-color: #DA931E;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
}

button:active {
  outline: none;
}

#next {
  position: absolute;
  right: 1em;
  bottom: 1em;
  padding-top: 0.3em;
}

.animation {
  animation: tada 1s, pulse 2s infinite 2s;
}

#next.disabled {
  opacity: 0.5;
}

.credits {
  margin-top: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

#language {
  position: relative;
}

#language .toggle {
  display: inline-block;
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  user-select: none;
}

#language .toggle:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#language .tooltip {
  display: none;
  bottom: 30px;
  left: 0px;
  width: 200px;
  padding: 1em;
  z-index: 80;
}

#language .tooltip:after {
  top: auto;
  bottom: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #2c3e50;
  border-bottom: none;
}

#language .tooltip a {
  padding: 0 2px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
}

#language .tooltip a:hover {
  color: #fff;
}

#board {
  position: sticky;
  top: 1em;
  width: 40vw;
  height: 40vw;
  min-width: 300px;
  min-height: 300px;
  max-width: calc(100vh - 2em);
  max-height: calc(100vh - 2em);
  overflow: hidden;
  border: 12px solid #a8ecd0;
  border-radius: 12px;
}

:root {
  --rowNum: 4;
  --colNum: 5;
  --gridHeight: 120px;
  --wrapperH: 40px; // for demonstrating the use of CSS Variables
}

#garden,
#plants,
#matrix,
#overlay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#plants {
  z-index: 30;
}

#matrix {
  background-color: #a8ecd0;
  overflow: hidden;
}

.plot {
  width: 100%;
  height: 100%;
  background-color: #f3f9f0;
  background-size: calc(10vw - 4px);
}

#overlay .plot {
  z-index: 50;
  background: none;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #a8ecd0;
}

.plot-red {
    width: 98%;
    height: calc(100% - 10px);
    background-color: #f94a62;
    outline: none;
    border: none;
    background-size: calc(10vw - 4px);
    border-radius: 9px;
    box-shadow: 0 9px #f72d48;
	text-align: center;
	padding-top: calc(50% - 6px);
	color: #f3f9f0;
}


.plot-red-broder {
    width: 98%;
    height: calc(100% - 10px);
    background-color: #f3f9f0;
    outline: #ef0828;
    border: #ef0828;
	border-style: solid;
    border-width: 2px;
    background-size: calc(10vw - 4px);
    border-radius: 9px;
    box-shadow: 0 9px #f72d48;
	text-align: center;
	font-size:2em;
}



#garden {
  z-index: 20;
}

.plant,
.treatment {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.plant .bg,
.treatment .bg {
  width: 100%;
  height: 100%;
  background-position: left top;
  background-size: calc(10vw - 4px);
}

.plant.carrot .bg {
  background-image: url("../images/carrots.svg");
}

.plant.weed .bg {
  background-image: url("../images/weeds.svg");
}

.plant.carrot.correct .bg {
  background-image: url("../images/carrots-correct.svg");
}

.plant.weed.correct .bg {
  background-image: url("../images/weeds-correct.svg");
}

.treatment.carrot .bg {
  background-color: rgba(81, 140, 179, 1);
  background-image: url("../images/water.svg");
  animation: scroll 6s linear infinite;
}

.treatment.weed .bg {
  background-color: #63393E;
  background-image: url("../images/poison.svg");
  animation: scroll 6s linear infinite;
}

#overlay.win:before {
  content: '';
  display: block;
  position: absolute;
  top: 18%;
  left: 41%;
  width: 8%;
  height: 8%;
  background-image: url("../images/froggy.svg");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 110;
  animation: bounce 2s linear infinite;
}

#overlay.win:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/carrots-win.png");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 100;
}

#garden.win {
  display: none;
}

.grid-column-start-1 {
  grid-column-start: 1;
}

.grid-column-start-2 {
  grid-column-start: 2;
}

.grid-column-start-5 {
  grid-column-start: 5;
}

.grid-column-end-6 {
  grid-column-end: 6;
}

.grid-column-4 {
  grid-column: 4;
  grid-row: 1 / 6;
}

.grid-template-columns-repeat-8-12 {
  grid-template-columns: repeat(8, 12.5%) !important;
}

.grid-template-columns-100px-3em-40p {
  grid-template-columns: 100px 3em 40% !important;
}

.grid-template-columns-1fr-5fr {
  grid-template-columns: 1fr 5fr !important;
}

.grid-template-columns-75px-2fr-1fr {
  grid-template-columns: 75px 2fr 1fr !important;
}

.grid-template-columns-50px-1fr-1fr-1fr-50px {
  grid-template-columns: 50px 1fr 1fr 1fr 50px !important;
}

.grid-template-rows-50px-0-0-0-1fr {
  grid-template-rows: 50px 0 0 0 1fr !important;
}

.grid-template-rows-100p {
  grid-template-rows: 100% !important;
}

.grid-template-columns-6 {
  grid-template-columns: 75px 3fr 2fr !important;
  grid-template-rows: 100% !important;
}

.grid-area-1-1-6-2 {
  grid-area: 1 / 1 / 6 / 2;
}

.grid-area-5-1-6-6 {
  grid-area: 5 / 1 / 6 / 6;
}

.grid-area-1-5-6-6 {
  grid-area: 1 / 5 / 6 / 6;
}

.grid-template-2 {
  grid-template: 1fr 50px / 20% 1fr !important;
}

@keyframes scroll {
  0% { background-position: 0 0; }
  100% { background-position: 0 calc(10vw - 4px); }
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
  font-family: 'Autour One', cursive;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 15vw;
  height: 6vh;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.button-one, .button-two, .button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
}



/*Button One*/
.button-one {
  padding:1vw 2vw;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.button-one:hover{
  background-color: #2ecc71;
}

.button-one:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}


/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color:#d35400;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}


/*Button Three*/
.button-three {
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.button-three:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:100;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #f94a62;
  font-family: 'PT Sans', sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
    color: #000;
}

